.container-hero {
    text-align: center;
    font-size: 12px;
    background-color: $colorWhite;
    position: fixed;
    padding: 5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2%;
    h4 {
        font-weight: bold;
    }
    p {
        color: $pColor;
    }
    .hero_buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
    .project-button {
        border-radius: 25px;
        background-color: $buttonColor;
        color: $colorWhite;
        font-size: 12px;
        max-height: 3rem;
        min-width: 10rem;
    }
    .hero-logo {
        position: fixed;
        padding: 5rem;
        left: 50%;
        transform: translate(-50%, -85%);
    }
}