$backgroundColor: #fffafa;
$colorWhite: white;
$buttonColor: #3BB4AD;

@import './hero';

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: $backgroundColor;
}

*, *:before, *:after {
-webkit-box-sizing: inherit;
-moz-box-sizing: inherit;
box-sizing: inherit;
}

header {
    background: lightblue;
}

.navbar-expand-lg {
    a {
        text-decoration: none;
        color: $colorWhite;
    }
}

.bg-img {
    background-image: url(../images/image-hero-desktop.jpg);
    min-height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

// * Try to override the default bootstrap color to pure white on the navbar



