html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fffafa;
}

*, *:before, *:after {
-webkit-box-sizing: inherit;
-moz-box-sizing: inherit;
box-sizing: inherit;
}

header {
    background: lightblue;
}

.navbar-expand-lg {
    a {
        text-decoration: none;
        color: white;
    }
}

.bg-img {
    background-image: url(../images/image-hero-desktop.jpg);
    min-height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

// * Try to override the default bootstrap color to pure white on the navbar

.container-hero {
    text-align: center;
    font-size: 12px;
    background-color: white;
    position: fixed;
    padding: 5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2%;
    h4 {
        font-weight: bold;
    }
    p {
        color: darkgrey;
    }
    .hero_buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
    .project-button {
        border-radius: 25px;
        background-color: #3BB4AD;
        color: white;
        font-size: 12px;
        max-height: 3rem;
        min-width: 10rem;
    }
    .hero-logo {
        position: fixed;
        padding: 5rem;
        left: 50%;
        transform: translate(-50%, -85%);
    }
}
