$backgroundColor: black;
$colorWhite: white;
$buttonColor: #3BB4AD;
$pColor: darkgrey;

@import './hero';

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: $backgroundColor;
}

*, *:before, *:after {
-webkit-box-sizing: inherit;
-moz-box-sizing: inherit;
box-sizing: inherit;
}

.navbar-expand-lg {
    a {
        text-decoration: none;
        color: $colorWhite;
    }
}

.bg-img {
    background-image: url(../images/image-hero-desktop.jpg);
    min-height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container-fund {
    text-align: center;
    font-size: 12px;
    background-color: $colorWhite;
    position: fixed;
    padding: 5rem;
    left: 50%;
    transform: translate(-50%, 70%);
    border-radius: 2%;
    h4 {
        font-weight: bold;
    }
    p {
        color: $pColor;
    }
    .row {
        display: flex;
        justify-content: space-around;
    }
    .vl {
        border-left: 2px solid lightgrey;
        height: 4rem;
    }
}


// FIX THESE BUGS!!!
// implement the containers dynamically to the page.
// Try to override the default bootstrap color to pure white on the navbar.
// Work on the Bookmark button.
// Figure out how to implement the progress bar. 
// Look into how all the containers align perfectly the same size.
// Look for a different font-family that fits with the design.